@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: url(assets/bg.jpg) top center/cover fixed no-repeat;
  color: white;
}

header{
  margin: auto;
  max-width: 60vw;
}

header img{
  width: 100%;
}